.jbk-field
{
  margin-bottom: 1.5em;

  &:last-child
  {
    margin-bottom: 0;
  }

  &__label
  {
    display: inline-block;
    margin-bottom: .2em;
    font-weight: 600;

    &:not([for])
    {
      cursor: default;
    }
  }

  &__value
  {
    & > input:not([type="checkbox"]),
    & > select
    {
      width: 100%;
    }
  }
}

h2,
th
{
  display: none;
}

td
{
  padding: 0 !important;
}

.jbk-filters-setting
{
  &__filter
  {
    display: grid;
    grid-template-columns: auto 30em;
    column-gap: 2em;
    margin-bottom: 2em;

    &__settings,
    &__preview
    {
      padding: 1.5em;
      border: 1px solid #000;
      border-radius: 5px;
      background-color: #fff;

      &__section
      {
        margin-bottom: 2em;

        &:last-child
        {
          margin: 0;
        }

        &__title
        {
          display: block;
          margin-bottom: 1.5em;
          font-size: 1.2em;
        }
      }
    }

    &__settings
    {
      &__popup-fields
      {
        &__actions
        {
          margin-top: 1.5em;
          text-align: right;
        }
      }

      &__popup-field
      {
        margin-top: -1px;
        padding: 1.5em;
        border: 1px solid rgb(192, 192, 192);
        border-right: none;
        border-left: none;

        &__settings
        {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 3em;
          row-gap: 1.5em;
        }

        &__actions
        {
          text-align: right;
          margin-top: 1.5em;

          .button
          {
            margin-right: 1.5em;

            &:last-child
            {
              margin-right: 0;
            }
          }
        }
      }
    }

    &__preview
    {
      &__section
      {
        &__title
        {
          text-align: center;
        }
      }
    }
  }

  &__actions
  {
    text-align: right;
  }

  button
  {
    cursor: pointer;

    &.jbk-button_delete
    {
      color: red;
      border-color: currentColor;
    }
  }
}